@font-face {
    font-family: Staatliches, Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');
    }

/* NAVIGATION */
header {
    position: sticky;
}
nav {
    background-color: #6C7B7E;
}

.logo-small {
        position: absolute;
        top: 30px;
        left: 20px;
        max-width: 180px;
        padding: 10px;
    }

nav li {
    display: inline-block;
    position: sticky;
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat, Calibri, Verdana;
    font-weight: bold;
}

nav ul {
    display: grid;
    justify-content: center;
    position: relative;
    top: 40px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px 12px 30px;
}

.menu {
    background-color: #0A3641;
}

/* MAIN */
body {
    background-color: #6C7B7E;
    font-family: Montserrat, Calibri, Verdana;
    font-size: 22px;
}

.logo {
    max-width: 340px;
}

main {
    background: url('../images/bg_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 120px;
    bottom: 0px;
    left: 0px;
    right: 0px; 
}

.product-list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    min-height: 200px;
    font-size: 16px;
    justify-content: space-evenly;
    margin-left: 20px;
  }
 
.thumbnail {
    max-width: 200px;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 85%;
    height: auto;
    margin: 0 auto;
    font-size: 24px;
    color: #0a3641;
    font-family: Staatliches, Montserrat, Calibri, Verdana;
}
.navigation {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
}
.content a {
    text-decoration: none;
    font-size: 24px;
    color: #0a3641;
    font-family: Staatliches, Montserrat, Calibri, Verdana;
}

.container{
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    padding: 10px;
    margin: 10px;
  }

 .navmenleft {
    font-size: 20px;
    line-height: 50px;
    color: #505535;
    font-family: Staatliches, Montserrat, Calibri, Verdana;
    padding: 0px 20px;
  }

  .navmenright {
    font-size: 20px;
    line-height: 50px;
    color: #505535;
    font-family: Staatliches, Montserrat, Calibri, Verdana;
    padding: 0px 20px;
  }

  .navmenleft a {
    text-decoration: none;
    font-size: 20px;
    color: #505535;
    font-family: Staatliches, Montserrat, Calibri, Verdana;
}

.navmenright a {
    text-decoration: none;
    font-size: 20px;
    color: #505535;
    font-family: Staatliches, Montserrat, Calibri, Verdana;
}

/* FOOTER */

footer {
    position: fixed;
    text-align: center;
    background-color: black;
    opacity: 0.75;
    width: 100%;
    height: 65px;
    bottom: 0px;
    left: 0px;
}

footer li {
    display: inline-block;
    font-size: 18px;
    color: #fea700;
    font-family: Staatliches, Montserrat, Calibri, Verdana;
    padding: 0px 40px 0px 0px;
}

@media only screen and (min-width: 400px) {
    nav li {
        display: inline-block;
        position: sticky;
        padding-left: 5px;
        text-align: center;
        font-size: 14px;
        font-family: Montserrat, Calibri, Verdana;
        font-weight: bold;
    }

    nav a {
        color: #FFFFFF;
        text-decoration: none;
        padding: 8px 20px 8px 20px;
    }
    nav ul {
        display: grid;
        justify-content: center;
        position: relative;
        top: 78px;
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
    }
    .logo-small {
        max-width: 130px;
        position: absolute;
        top: -20px;
        left: -10px;
    }
    .logo {
        max-width: 0px;
    }
    .product-list {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 20px;
        min-height: 200px;
        font-size: 16px;
        justify-content: stretch; 
    }
    main {
    background: url('../images/bg_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
}
@media only screen and (min-width: 700px) {
    nav li {
        display: inline-block;
        position: sticky;
        padding-left: 10px;
        text-align: center;
        font-size: 18px;
        font-family: Montserrat, Calibri, Verdana;
        font-weight: bold;
    }
    nav ul {
        display: grid;
        justify-content: center;
        position: relative;
        top: 40px;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }
    .logo-small {
        max-width: 180px;
        position: absolute;
        top: -20px;
        left: -10px;
    }
    #header .logo-small {
        visibility: hidden;
    }
    #main .logo {
        max-width: 300px;
        position: absolute;
        top: 40px;
        left: 20px;
    }
    .product-list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-gap: 20px;
        min-height: 200px;
        font-size: 16px;
        justify-content: stretch; 
    }
    main {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
}